
AllisonFunProject/obj/project.assets.json
AllisonFunProject/obj/Debug/netcoreapp2.2/AllisonFunProject.csprojAssemblyReference.cache
AllisonFunProject/obj/Debug/netcoreapp2.2/AllisonFunProject.assets.cache
AllisonFunProject/obj/AllisonFunProject.csproj.nuget.g.props
AllisonFunProject/obj/AllisonFunProject.csproj.nuget.dgspec.json
AllisonFunProject/obj/AllisonFunProject.csproj.nuget.cache
.vs/AllisonFunProject/v16/Server/sqlite3/storage.ide-wal
.vs/AllisonFunProject/v16/Server/sqlite3/storage.ide-shm
.vs/AllisonFunProject/v16/Server/sqlite3/storage.ide
.vs/AllisonFunProject/v16/Server/sqlite3/db.lock
